.layout-object{

    position:absolute;

    width:150px;

    height:85px;

    background:white;

    border:2px solid #3B82F6;

    border-radius:10px;

    box-shadow:0 6px 15px rgba(0,0,0,.25);

    cursor:move;

    transition:.15s;

    padding:10px;

    box-sizing:border-box;

}

.layout-object:hover{

    transform:scale(1.03);

    border-color:#38BDF8;

}

.object-title{

    font-weight:bold;

    color:#1E293B;

}

.object-subtitle{

    margin-top:8px;

    color:#64748B;

    font-size:13px;

}