.header{

    height:72px;

    background:#0F172A;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 20px;

    border-bottom:1px solid #1E293B;

    font-family:"Segoe UI", sans-serif;

    gap:20px;

}

.header-left{

    display:flex;

    align-items:center;

    gap:15px;

    min-width:280px;

}

.logo{

    font-size:34px;

}

.header-left h1{

    margin:0;

    font-size:24px;

    font-weight:600;

    color:white;

}

.header-left span{

    color:#94A3B8;

    font-size:13px;

}

/* Solo organiza las tarjetas */
.header-center{

    flex:1;

    display:flex;

    justify-content:center;

    gap:12px;

}

.header-right{

    min-width:130px;

    text-align:right;

}

.casino-name{

    color:#38BDF8;

    font-weight:600;

    font-size:16px;

}

.user-name{

    color:#94A3B8;

    font-size:12px;

}